## Raghav Bhagria 

# The research question I am particularly interested in is that what is the main trend in all these crashes with main emphasis on the plane model

## MileStone3

## Task1

### Exploratory Data Analysis :

## Preliminary analyses

## Loaded data

In [ ]:
import pandas as pd
import numpy as np
import matplotlib
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
path = "/Users/raghavbhagria/Desktop/COSC301/project-group46/data/processed/COSC301_dataset - Sheet1.csv"
df = pd.read_csv(path)
df

,date,time,Location,Operator,route,type,registeration,Aboard,Fatilities,Ground,Summary
0,01/03/2004,4:44,"Off Sharm el Sheikh, Egypt",Flash Air,"Sharm el Sheikh, Egypt - Cairo, Egypt",Boeing B-737-3Q8,SU-ZCF,148,148,0,"Shortly after taking off, the aircraft crashe..."
1,01/13/2004,19:40,"Tashkent, Uzbekistan",Uzbekistan Airways,Termez - Tashkent,Yakovlev YAK-40,UK-87985,37,37,0,Crashed while attempting to land in heavy fog....
2,01/17/2004,16:40,"Lake Erie, off Pelee Island, Ontario, Canada",Georgia Express,"Pelee Island, Ontario - Windsor, Ontario",Cessna 208B Grand Caravan,C-FAGA,10,10,0,he pilot reported having trouble shortly after...
3,01/28/2004,20:55,"Ghardaïa, Algeria",Tassili Airlines,Hassi R'Mel - Ghardaïa,Beechcraft 1900D,7T-VIN,5,1,0,"While on approach by night, the crew lost cont..."
4,02/06/2004,8:01,"Bitonja, Bosnia-Herzegovina",Military - Government of Macedonia,Skopje - Mostar,Beechcraft Super King Air 200,Z3-BAB,9,9,0,The twin engine aircraft crashed in the southe...
...,...,...,...,...,...,...,...,...,...,...,...
599,05/26/2009,NaN,"Near Isiro, DemocratiRepubliCongo",Service Air,Goma - Isiro,Antonov An-26,9Q-CSA,4,4,NaN,The cargo plane crashed while on approach to I...
600,06/01/2009,0:15,"AtlantiOcean, 570 miles northeast of Natal, Br...",Air France,Rio de Janeiro - Paris,Airbus A330-203,F-GZCP,228,228,0,The Airbus went missing over the AtlantiOcean ...
601,06/07/2009,8:30,"Near Port Hope Simpson, Newfoundland, Canada",Strait Air,Lourdes de BlanSablon - Port Hope Simpson,Britten-Norman BN-2A-27 Islander,C-FJJR,1,1,0,The air ambulance crashed into hills while att...
602,>>>>>>> ea9cce248f81730041f8858938a0313971237052,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
603,06/08/2009,NaN,"State of Arunachal Pradesh, India",Military - Indian Air Force,Mechuka for Jorhat,Antonov An-32,NaN,13,13,0,The military transport went missing while en r...

In [ ]:
df.shape

(5268, 14)

In [ ]:
df.head()

,index,Date,Time,Location,Operator,Flight #,Route,Type,Registration,cn/In,Aboard,Fatalities,Ground,Summary
0,0,09/17/1908,17:18,"Fort Myer, Virginia",Military - U.S. Army,NaN,Demonstration,Wright Flyer III,NaN,1,2.0,1.0,0.0,"During a demonstration flight, a U.S. Army fly..."
1,1,07/12/1912,6:30,"AtlantiCity, New Jersey",Military - U.S. Navy,NaN,Test flight,Dirigible,NaN,NaN,5.0,5.0,0.0,First U.S. dirigible Akron exploded just offsh...
2,2,08/06/1913,NaN,"Victoria, British Columbia, Canada",Private,-,NaN,Curtiss seaplane,NaN,NaN,1.0,1.0,0.0,The first fatal airplane accident in Canada oc...
3,3,09/09/1913,18:30,Over the North Sea,Military - German Navy,NaN,NaN,Zeppelin L-1 (airship),NaN,NaN,20.0,14.0,0.0,The airship flew into a thunderstorm and encou...
4,4,10/17/1913,10:30,"Near Johannisthal, Germany",Military - German Navy,NaN,NaN,Zeppelin L-2 (airship),NaN,NaN,30.0,30.0,0.0,Hydrogen gas which was being vented was sucked...

In [ ]:
df.